#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-name{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30rem;
}

img{
  width: 100px;
  border-radius: 50%;
}
