#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img{
  width: 100px;
  border-radius: 50%;
  border: 5px solid white;
}

.container-name{
  display: flex;
  justify-content: center;
  gap: 10rem;
}